
.select-button {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.select-button {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.select-button {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.create-new-button {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.create-new-button{
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    display: block;
}

.create-new-button {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}